* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header {
    img {
      max-width: 300px;
      width: 25%;
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        font-size: 2em;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 1vw;
        }
        padding: 1.5vh 0;
      }
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        position: absolute;
        top: 13vh;
        background-color: rgb(228, 227, 227);
        width: 95%;
        align-items: flex-end;
        padding-right: 5vw;
      }
    }
    > span {
      svg {
        width: 34px;
      }
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    display: flex;
    justify-content: space-between;
    background-color: #1207ab;
    padding: 2vh 5vw;
  }
  
  .none {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }