$contentPadding: 2.5vh 5vw;
$defaultBackgroundColor: #FFF;
$black:#150C21;
$white:rgb(247, 243, 243);
$lightBlue: #47D0F2; 
$Blue:#0138E6;
$deepBlue:#1207AB;
$purple: #5D5FEF;
$fontFamily: 'Poppins',sans-serif;
$headerHeight: 75px;
$footerColor: #A4A4A4;
$anchorMargin: 1.5vw;
$smallpadding: 5px 8px 4px 8px;
$inputPadding: 3px 12px 2px 10px;
$borderRadius:10px;
// MEDIA QUERIES
$android: 550px;
$tablet: 768px;
$laptop: 1024px;