*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #150C21;
  list-style: none;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

:root {
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  color: #000;
  scroll-behavior: smooth;
}

section {
  margin-bottom: 5%;
}

label {
  margin-right: 5%;
}

.butt {
  text-align: center;
}

header {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0138E6;
  padding: 2.5vh 5vw;
}

header nav, header input {
  display: none;
}

header input {
  content: url("img/search-icon.svg");
  background-color: #0138E6;
  color: #f7f3f3;
  border: 1px solid #f7f3f3;
  border-radius: 10px;
  padding: 3px 12px 2px 10px;
}

header ::-webkit-input-placeholder {
  color: #fff;
}

header :-ms-input-placeholder {
  color: #fff;
}

header ::-ms-input-placeholder {
  color: #fff;
}

header ::placeholder {
  color: #fff;
}

header span {
  color: #fff;
  margin-left: 5px;
}

header span:last-child {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 3px 6px 2px 5px;
  background-color: #f7f3f3;
}

@media screen and (min-width: 1024px) {
  header nav, header input {
    display: block;
  }
  header .search, header .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer {
  background-color: #150C21;
}

footer h3 {
  color: white;
  border-bottom: 2px solid #A4A4A4;
}

footer a {
  color: #A4A4A4;
}

footer .message {
  margin-bottom: 5%;
}

footer .footer-logo {
  display: none;
}

.Intro {
  padding: 5vw;
  text-align: center;
  background-color: #1207AB;
}

.Intro h1 {
  color: #f7f3f3;
  padding: 10px 16px 8px 14px;
}

.Intro p {
  color: #f7f3f3;
  padding: 10px 16px 8px 14px;
}

.myCourse label {
  margin-right: 2%;
}

.myCourse .course {
  font-size: 14px;
  border: 2px solid #11088a;
  border-radius: 14px;
  width: 288px;
  position: relative;
  left: 16px;
  top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  padding-left: 12px;
}

.myCourse .course .qhse {
  margin-top: 12px;
}

@media screen and (min-width: 1024px) {
  .myCourse .course {
    font-size: 18px;
    line-height: 36px;
    width: 850px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .myCourse .qhse {
    margin-right: 12px;
  }
  .myCourse .box {
    margin-top: 5%;
  }
  .myCourse .box h3 {
    padding: 8px 38px 6px 12px;
  }
  .myCourse .box .courseType {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .myCourse {
    padding: 2.5vh 5vw;
  }
}

.btn-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-group button {
  background-color: #f8f7f7;
  border: 1px solid #cfcdcd;
  color: #0138E6;
  padding: 5px 12px;
  cursor: pointer;
  float: left;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

.Learning {
  text-align: center;
}

.Learning .whylearning {
  margin-bottom: 9%;
}

.Learning .group div {
  margin-bottom: 8%;
}

@media screen and (min-width: 1024px) {
  .Learning .group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .Learning .group div {
    border-right: 2px solid #b6b5b5;
  }
}

@media screen and (min-width: 1024px) {
  .Learning {
    padding: 2.5vh 5vw;
  }
}

.howItWorks {
  text-align: center;
}

.howItWorks .fart {
  margin: 5% 0 0 3%;
}

.howItWorks .purpleBorderRadius {
  text-align: center;
  margin-bottom: 5%;
  border: 4px solid purple;
  width: 300px;
  height: 300px;
  border-radius: 360px;
}

.howItWorks .cyanBorderRadius {
  text-align: center;
  margin-bottom: 5%;
  border: 5px solid cyan;
  width: 300px;
  height: 300px;
  border-radius: 360px;
}

@media screen and (min-width: 1024px) {
  .howItWorks .fart {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    margin-left: 6%;
  }
  .howItWorks div {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .howItWorks {
    padding: 2.5vh 5vw;
  }
}
/*# sourceMappingURL=angry.css.map */